.short-text-style {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.card {
    background: radial-gradient(
            hsl(100, 100%, 60%),
            hsl(200, 100%, 60%)
    ) fixed;
    background: conic-gradient(
            hsl(100, 100%, 60%),
            hsl(200, 100%, 60%),
            hsl(100, 100%, 60%)
    ) fixed;
}

.title-section {
    height: 80px;
}