body {
  font-family: 'Dank Mono', ui-monospace, monospace !important;
}

.section-padding {
  padding-top: 100px;
}

.nav-divider {
  height: 50px;
  width: 1px;
  background: white;
  margin-right: 50px;
  margin-left: 50px;
}

@media only screen and (max-width: 991px) {
  .nav-divider {
    height: 1px;
    width: 120px;
    margin-bottom: 25px;
    margin-top: 25px;
    background: white;
  }
}

p {
  font-size: 18px;
}

.scalable {
  transition: all 0.2s ease-in-out;
}

.scalable:hover {
  transform: scale(1.1);
}

.logo {
  font-size: 40px;
  border: solid 2px white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 42px;
}

.flag {
  height: 40px;
  width: 40px;
  margin: 5px;
  cursor: pointer;
}
