body {
  font-family: 'Dank Mono', ui-monospace, monospace !important;
}

.section-padding {
  padding-top: 100px;
}

p {
  font-size: 18px;
}

.scalable {
  transition: all 0.2s ease-in-out;
}

.scalable:hover {
  transform: scale(1.1);
}

.logo {
  height: 40px;
}

.flag {
  height: 40px;
  width: 40px;
  margin: 5px;
  cursor: pointer;
}
